<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <springProfile name="container">
        <logger name="com.tsm" level="DEBUG" additivity="false">
            <appender-ref ref="FILE" />
        </logger>>
    </springProfile>
 </configuration>
